<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Purchase Has Been Made</h1>
    <p>
      A purchase has been made by <%= @user.email %>
<!--       Add invoice info like product & price
 -->    
    </p>
  </body>
</html>