<<<<<<< HEAD
<section id="grid">
  <% @products.each do |product| %>
    <%= link_to image_tag(product.image), product_path(product.id) %>
  <% end %> 
</section>
=======
  <%= link_to("Log in", '/signin')%>
>>>>>>> d5e3effa03ca459c9d5557ec6e2c98b888f7bf26
