/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header {
  position: fixed !important;
  width: 100%;
  z-index: 10000;
}

#branding img {
  height: 350px;
}

#branding {
  float: left;  
}

header nav ul {
  list-style: none; 
  overflow: hidden; 
  position: relative;
  float: right;
  margin: 20px;
  padding: 10px;
  outline: solid black 3px;
}
  header nav ul li { 
    font-size: 24px;
    float: left; 
    margin: 0 20px 0 20px;
  }

/*#grid {
  display: inline-block;
  width: 700px;
}

#grid img {
  width: 300px;
}*/